body 
{
    background-color: #000000;
    color: #ffffff;
    font-family: Arial;
}
h1
{
    color: grey;
    font-family: Verdana;
    align: left;
    white-space: nowrap;
}
.maindiv
{
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    align: center;
}
{
    display: none;
} 
.contents
{
    margin-left: 80px;
}

.table td
{
    margin-bottom: 5px;
}
#compute
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    color: black;
    width: 125px;
}
#principal{
    width: 145px;
}

#years{
    width: 35px;
}

#footer
{
    margin-top: 20px;
}
#results
{
    margin-bottom: 10px;
}

.labels
{
    width: 120px;
    margin-bottom: 5px;
}

.highlight
{
    background-color: #ffff00;
}
